@import "../ext/bulma/bulma.sass";
@import "../ext/bulmaswatch/lumen/_variables.scss";

$thickness: 4px;

$family-sans-serif: "Fira Sans", Helvetica, Arial, sans-serif;

$gray: #2a3439;
$red: #a72145;
$green: #0b7261;
$purple: #2e2459;
$yellow: #ffc832;
$border-radius: 4px;

$footer-background: $gray;
$footer-foreground: white;

$link: #4299bf;
$link-hover: darken($link, 10%);

$container-max-width: 800px;

$light-gray: #e1e1db;
$navbar-background-color: lighten($light-gray, 10%);
$border: lighten($light-gray, 7%);
$navbar-item-hover-color: $navbar-item-color;
$navbar-item-hover-background-color: $border;

$card-content-background-color: lighten($light-gray, 10%);
