$thickness: 3px;

$family-sans-serif: "Fira Sans", Helvetica, Arial, sans-serif;

$gray: #2a3439;
$red: #a72145;
$green: #0b7261;
$purple: #2e2459;
$yellow: #ffc832;
$border-radius: 4px;

$footer-background: $gray;
$footer-foreground: white;

$link: #4299bf;
$link-hover: darken($link, 10%);
