@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/all.min.css";
@import "https://jenil.github.io/bulmaswatch/lumen/bulmaswatch.min.css";

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section {
    flex: 1;
}

.container {
    max-width: 960px;
}

p {
    font-size: 1.1rem;
}

.navbar-logo {
    transform: scale(1.3);
    margin: 0 1rem;
}

.resources dt {
    margin: 0.75em 0 0 0;
}

h2 a {
    color: inherit;
}

.external-link-icon {
    padding: 0 0.1em;
}

a:not(:hover) .external-link-icon {
    opacity: 0;
}

.resources {
    padding-left: 1.5em;
    border-left: 2px solid hsl(0, 0%, 86%) ;
}

.resources a:hover {
    color: #5bb7db;
    text-decoration: underline;
}
