@charset "utf-8";

@import "../ext/bulmaswatch/lumen/_variables.scss";

@import "variables";

@import "../ext/bulma/bulma.sass";
@import "../ext/bulmaswatch/lumen/_overrides.scss";

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section {
    flex: 1;
}

p {
    font-size: 1.1rem;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    flex-shrink: 0;
    border: 0;
}

.navbar-logo {
    transform: scale(1.3);
    margin: 0 1rem;
}

// TODO probably not the best way of doing this
.title a,
.title a:hover,
a.title,
a:hover.title {
    color: $title-color;
}

.resources {
    padding-left: 1.5em;
    border-left: 2px solid hsl(0, 0%, 86%) ;
}

.resources dt {
    margin: 0.75em 0 0 0;
}

.resources a {
    color: $gray;
    text-decoration: underline;
}

.gray {
    background-color: $gray;
    color: white;

    a {
        color: $yellow;
        text-decoration: none;

        &:hover {
            color: $yellow;
            text-decoration: underline;
        }
    }
}

.footer-notice {
    line-height: 0.5;
    text-align: center;
}

.footer h4 {
    color: white;
}
